<div class="container">
    <h1><%= @restaurant.name.upcase %></h1>
    <p><strong>Address : </strong><%= @restaurant.address %></p>
    <p><strong>Phone : </strong><%= @restaurant.phone_number %></p>
    <p><strong>Category : </strong><%= @restaurant.category %></p>

    <% @restaurant.reviews.each do |review| %>
    <li> <strong>Review :</strong> <%= review.content %>, <strong>Rating :</strong> <%= review.rating %></li>
    <% end %>
    <br>
    <br>
    <%= link_to "Add a review for this restaurant", new_restaurant_review_path(@restaurant), class: 'btn btn-primary btn-lg' %>
</div>

